extends layout

block content
  h1 Zappos Grab Bag Generator

  form(method='POST', action='/build')
    p
      span Build me a grab bag with
      select(name='numItems')
        - var i = minNumItems
        while i <= maxNumItems
          option(value=i) #{i}
          - i++
      span  item(s), totaling around 
      select(name='targetPrice')
        each price in prices
          option(value=price) $#{price}
      button(type='submit') Build it!
