extends layout

block content
  form(method='POST', action='/build')
    p
      span I'd like to build a 
      select(name='gender')
        option(value='mens') mens
        option(value='womens') womens
      span  wardrobe with
      select(name='numItems')
        - var i = minNumItems
        while i <= maxNumItems
          option(value=i) #{i} items
          - i++
      span  totaling around 
      select(name='targetPrice')
        each price in prices
          option(value=price) $#{price}
      button(type='submit') Build it!
